<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Administrador</title>

	<!-- Importamos estilos de adminLte -->
	<div th:replace="./layouts/styles :: style"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Importamos navbar -->
		<nav th:replace="./layouts/navbar :: navbar"></nav>

		<!-- Importamos sidebar -->
		<aside th:replace="./layouts/sidebar :: sidebar"></aside>

		<!-- importamos contenido principal -->
		<div th:replace="./fragments/dashboard/ContenidoPrincipal :: content">
		</div>

		<!-- footer-->
		<footer th:replace="./layouts/footer :: footer"></footer>

		<!-- Importamos Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
	</div>

	<!-- Importamos scripts-->
	<div th:replace="./layouts/scripts :: scripts"></div>

	<!-- Grafico de Linea -->
	<script th:inline="javascript">

		var usuarios = /*[[${usuarios}]]*/ 'default';

		// Contamos la cantidad de usuarios por perfil
		var countsUsuarios = {};
		usuarios.forEach(usuario => {
			var perfil = usuario.rol.nombre;
			countsUsuarios[perfil] = (countsUsuarios[perfil] || 0) + 1;
		});

		// Creamos datos para el grafico
		var labelsUsuarios = Object.keys(countsUsuarios);
		var dataUsuarios = Object.values(countsUsuarios);

		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {

			type: 'bar',

			data: {
				labels: labelsUsuarios,
				datasets: [{
					label: 'Cantidad de usuarios por perfil',
					backgroundColor: 'rgb(87, 217, 255)',
					borderColor: 'rgb(56, 200, 242)',
					data: dataUsuarios,
					barPercentage: 0.5
				}]
			},
			options: {
				scales: {
					xAxes: [{
						stacked: true
					}],
					yAxes: [{
						stacked: true
					}]
				}

			}
		});




		//- DONUT CHART

		var proyectos =/*[[${proyectos}]]*/ 'default';
		var areaChartCanvas = $('#proyectos').get(0).getContext('2d')

		var labelsProyectos = [];
		var dataProyectos = [];

		// Inicializamos un objeto vacío para almacenar los conteos de cada categoría.
		var countsProyectos = {};

		// Recorremos el arreglo de proyectos.
		for (var i = 0; i < proyectos.length; i++) {
			// Obtenemos la el id_comuna de proyectos.
			var comuna = proyectos[i].comuna.nombre;

			// Si la categoría ya existe en el objeto counts, incrementamos su conteo en 1.
			// Si no existe, la añadimos al objeto counts con un conteo inicial de 1.
			countsProyectos[comuna] = countsProyectos[comuna] ? countsProyectos[comuna] + 1 : 1;
		}

		// Recorremos el objeto counts.
		for (var comuna in countsProyectos) {
			// Añadimos la comuna al arreglo de etiquetas.
			labelsProyectos.push(comuna);

			// Añadimos el conteo de la comuna al arreglo de datos.
			dataProyectos.push(countsProyectos[comuna]);

			//console.log(labels)
		}

		var donutChartCanvas = $('#proyectos').get(0).getContext('2d')
		var donutData = {
			labels: labelsProyectos,
			datasets: [
				{
					data: dataProyectos,
					backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
				}
			]
		}
		var donutOptions = {
			maintainAspectRatio: false,
			responsive: true,
		}

		new Chart(donutChartCanvas, {
			type: 'doughnut',
			data: donutData,
			options: donutOptions
		})

	</script>

</body>

</html>