<div th:fragment="listarProyectos" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<h1>Listar proyectos</h1>
				</div>
				<!-- <div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Buttons</li>
					</ol>
				</div>-->
			</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Listado</h3>
							<a sec:authorize="hasAnyRole('Ejecutivo', 'Administrador')" th:href="@{/proyectos/crear}" class="btn btn-primary float-right">Crear Proyecto</a>
						</div>
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Proyecto</th>
										<th>Comuna</th>
										<th sec:authorize="hasAnyRole('Ejecutivo', 'Administrador')" >Modificar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="proyecto:${proyectos}">
										<td th:text="${proyecto.id}"></td>
										<td th:text="${proyecto.nombre}"></td>
										<td th:text="${proyecto.comuna.nombre}"></td>
										<td sec:authorize="hasAnyRole('Ejecutivo', 'Administrador')">
											<div class="row">
												<div class="col col-sm4">
													<a th:href="@{'/proyectos/ver/' + ${proyecto.id}}" class="btn btn-block btn-xs btn-info"><i
															class="far fa-eye"></i></a>
												</div>
												<div class="col col-sm4">
													<a th:href="@{'/proyectos/editar/' + ${proyecto.id}}" class="btn btn-block btn-xs btn-secondary"><i
															class="far fa-edit"></i></a>
												</div>
												<div class="col col-sm4">
													<form method="post"
														th:action="@{/proyectos/eliminar/{id}(id=${proyecto.id})}">
														<button type="submit" class="btn btn-block btn-xs btn-danger"
															onclick="return confirm('¿Estas seguro que desea eliminar el proyecto?');"><i
																class="far fa-trash-alt">
															</i>
														</button>
													</form>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>